.header-section {
    background-image: url("../../img/christian-buehner-DItYlc26zVI-unsplash.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .menu-section {
        padding: 0 46px;

        @media only screen and (max-width: 970px) {
            display: none;
        }

        .items {
            @include flex();

            .item {
                display: flex;
                align-items: center;

                .logo {
                    font-size: 40px;
                    font-weight: 700;
                    color: $primary-color;
                }

                .menu-item {
                    ul {
                        display: flex;

                        li {
                            list-style-type: none;
                            text-decoration: none;
                            color: $secondary-color;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-size: 14px;

                            a {
                                padding: 0 15px;
                            }
                        }
                    }
                }

                i {
                    color: $secondary-color;
                    margin: 0 15px;
                }
            }
        }
    }

    .about-section {
        position: absolute;
        top: 30%;

        .items {
            width: 40%;

            h1 {
                font-size: 60px;
                color: $primary-color;
            }

            p {
                color: $secondary-color;
                font-size: 20px;
                line-height: 28px;
                margin: 40px 0;
            }

            a {
                background-color: $main-green;
                display: inline-block;
                border: 1px solid #23a592;
                border-radius: 30px;
                padding: 15px 35px;
                font-size: 17px;
                color: $white;
                text-decoration: none;
                transition: all 0.5s ease-in;

                &:hover {
                    background-color: transparent;
                    color: #000;
                }
            }
        }
    }
}

// trust
.experience-section {
    padding: 140px 0;
    background-color: #FFFFFF;

    .title {
        color: $primary-color;
        font-size: 40px;
        font-weight: bold;
    }

    .items {
        width: 100%;
        @include flex();

        .item {
            width: 45%;
            margin: 15px 0;

            @media only screen and (max-width: 768px) {
                width: 80%;
                justify-content: center;
            }

            p {
                @include mainText();
            }

            .experience {
                display: flex;
                align-items: center;
                margin: 40px 0;

                span {
                    font-size: 130px;
                    color: #000;
                    margin-right: 25px;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.625em;
                    color: $secondary-color;
                }
            }

            h6 {
                font-weight: 700;
                font-size: .9rem;
                letter-spacing: 1px;
                line-height: 1.2;
                color: $primary-color;
                margin: 1rem 0;
            }

            .line {
                width: 90%;
                height: .5rem;
                background-color: #f2f2f2;
                border-radius: 5px;

                .color {
                    width: 50%;
                    height: .5rem;
                    color: $main-green;
                }
            }
        }
    }
}

// resources
.resources-section {
    padding: 145px 0;
    background-color: #1D1D1D;

    .items {
        @include flex();

        @media only screen and (max-width: 970px) {
            margin: 0 20px;
        }

        .item {
            width: 30%;

            @media only screen and (max-width: 768px) {
                width: 80%;
                justify-content: center;
                margin: 20px;
            }

            i {
                color: $white;
            }

            h6 {
                font-weight: 700;
                font-size: .9rem;
                letter-spacing: 1px;
                line-height: 1.2;
                color: $white;
                margin: 1rem 0;
            }

            p {
                @include mainText();
            }
        }
    }
}

// cv
.cv-section {
    padding: 100px 0;

    .center {

        .title-container {
            margin: 50px 0;
            width: 100%;
            @include flex();

            @media only screen and (max-width: 768px) {
                width: 80%;
            }

            .title {
                font-weight: 700;
                font-size: 2.1rem;
                line-height: 1.2;
                color: $primary-color;
                margin: 2rem 0;
            }

            a {
                text-decoration: none;
                color: $secondary-color;
                font-size: 15px;
            }
        }

        .items {
            width: 100%;

            .item:nth-child(even) {
                background-color: #eceaea;
            }

            .item {
                width: 100%;
                @include flex();
                align-items: unset;
                padding: 20px 5px;

                @media only screen and (max-width: 768px) {
                    width: 90%;

                }

                .block {
                    width: 30%;

                    @media only screen and (max-width: 768px) {
                        width: 80%;
                        margin: 10px 0;
                    }

                    span {
                        color: $primary-color;
                        font-weight: 700;
                        font-size: .9rem;
                        letter-spacing: 1px;
                        line-height: 1.2;
                        margin: 1rem 0;
                    }

                    h5 {
                        font-size: 18px;
                        color: $main-green;
                        margin-top: 15px;
                    }

                    h4 {
                        font-size: 18px;
                        color: $primary-color;
                    }

                    p {
                        @include mainText();
                    }
                }
            }
        }
    }

}

// slider
.slider-section {
    .title-container {
        margin: 50px 0;
        width: 100%;
        @include flex();

        @media only screen and (max-width: 768px) {
            width: 80%;
        }

        .title {
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 1.2;
            color: $primary-color;
            margin: 2rem 0;
        }

        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 15px;
        }
    }

    .items {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

    }
}

// testimonails
.testimonial-section {
    padding: 145px 0;

    .items {
        width: 100%;
        @include flex();

        @media only screen and (max-width: 970px) {
            margin: 0 20px;
            width: 90%;
        }

        .item {
            width: 45%;

            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 10px 0;
            }

            i {
                color: $secondary-color;
                margin-bottom: 40px;
            }

            .testimonial {
                margin-left: 40px;

                p {
                    @include mainText();

                    span {
                        color: $primary-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// 
.card-section {
    .title-container {
        margin: 50px 0;
        width: 100%;
        @include flex();

        @media only screen and (max-width: 768px) {
            width: 80%;
        }

        .title {
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 1.2;
            color: $primary-color;
            margin: 2rem 0;
        }

        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 15px;
        }
    }

    .items {
        @media only screen and (max-width: 970px) {
            padding: 0 20px;
            justify-content: center;
        }


        .card-items {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;


            .card {
                width: 31%;
                min-height: 430px;
                background-color: #f9f9ff;
                margin: 50px 0;

                @media only screen and (max-width: 970px) {
                    width: 26%;

                }

                @media only screen and (max-width: 768px) {
                    width: 43%;
                }

                @media only screen and (max-width: 600px) {
                    width: 100%;
                }

                .img-container {
                    .card-img-top {
                        width: 100%;
                        height: 100%;

                    }
                }

                .card-body {
                    padding: 20px;

                    h5 {
                        color: $primary-color;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    p {
                        @include mainText();
                        margin: 18px 0;
                    }



                }



            }
        }
    }
}